{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %} Listado de solicitudes {% endblock %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
  }
  .nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#204c0d;
  }
  .sub-style {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #269AFF;
    font-size: 12;
    font-weight: bold;
  }
  .borrador{
    background-color: red;
  }
</style>


<div class="box box-primary">


  <div class="box-body ">
  <p class="pull-right">Fecha: {% now 'd-m-Y' %}</p>
   
   <!-- page-header -->
      <h4 class="text-center sub-style">LISTA DE SOLICITUDES INGRESADAS</h4><hr>

  <table id="tabla" class="table  table-hover table-responsive">
    
          <thead>
           
              <tr>
                <th>#</th>
                <th>IDENTIDAD</th>
                <th>NOMBRES</th>                      
                <th>FECHA NACIMIENTO</th>                      
                <th>TIPO PRODUCTO</th>                      
                <th>MONEDA</th>                      
                <th>ESTADO</th> 
                <th>vista</th> 
                <th>OPCIONES</th> 

         

              </tr>     

          </thead>
    <tbody>
            {% if lista %}
              {% for data in lista %}            
            <tr>
              <td>{{ data.id_solicitud }}</td>
              <td>{{ data.identidad }}</td>
              <td>{{ data.nombre_completo }}</td>
              <td>{{ data.fecha_nacimiento }}</td>
              <td>{{ data.producto }}</td>           
              <td>{{ data.moneda }}</td>           
              <td>{{ data.estado }}</td>                        
              <td>{{ data.cod_vista }}</td>                        
           
             
              <td style="text-align: center;">

                {% if data.estado == 0 %}

                <a style="width: 100px;" href="http://localhost:8000/editar_{{data.cod_vista}}/{{data.id_solicitud}}"  class="btn btn-danger "><i ></i> Continuar</a>
                {% elif data.estado == 1 %}
                  <a style="width: 100px;" href="{% url 'editar_1' data.id_solicitud %}" class="btn btn-primary"><i></i> Editar </a>

                {% endif  %}          

                  
                </td>          

            </tr> 
              {% endfor %}
              {% else %}
              <h4>no hay Registros</h4>
            {% endif %}         
    
    </tbody>
  </table>

  </div>
</div>

<script>
  $(document).ready(function(){
    $('#tabla').DataTable();

  });
</script>

{% endblock %}


